@{
    ViewData["Title"] = "Empathy Admin";

    // Assuming you have a DbContext for your database
    var dbContext = new EmpathyKick.Data.LocalDbContext(); // Replace YourDbContext with your actual DbContext class
    var tableNames = Model;
    // Retrieve all table names from the database
    List<TableColumnPair> pairs = dbContext.GetColumnNames(tableNames);
}
    <form method="post" action="EADataView">
        <table bgcolor="darkgrey" border="1">
            <tr>
                <th bgcolor="lightgrey">Table: </th>
                @foreach (var pair in pairs)
                {
                    <th bgcolor="lightgrey">@pair.TableName &nbsp;</th>
                }
            </tr>
            <tr>
            <th bgcolor="lightgrey">Column: </th>
            @foreach (var pair in pairs)
                {
                <th bgcolor="lightgrey">@pair.ColumnName &nbsp;<input type="checkbox" id="@pair.ColumnName" name="Checkbox@(pair.TableName + "," + pair.ColumnName)" value=""></th>
                }
            </tr>
            <tr>
                    <td bgcolor="lightgrey"> Where:</td>
            @foreach (var pair in pairs)
                {
                    <td>
                        <textarea> </textarea>
                    </td>
                }
            </tr>
        </table>
        <table>
            <tr>
                <th bgcolor="lightgrey">Table: </th>
                @foreach (var columnName in columnNames)
                {
                    <th bgcolor="lightgrey">Address &nbsp;</th>
                }
            </tr>
        </table>
        <br/>
        <button class="btn btn-primary" type="submit">View Data</button>
    </form>