@using Microsoft.Data.SqlClient;
@using System.Data;
@{
    SqlDataReader data = Model;

}

<table>
    <thead>
        <tr>
            @for (int i = 0; i < data.FieldCount; i++)
            {
                <th>@data.GetName(i)</th>
            }
        </tr>
    </thead>
    <tbody>
        @while (data.Read())
        {
            <tr>
                @for (int i = 0; i < data.FieldCount; i++)
                {
                    <td>@data[i]</td>
                }
            </tr>
        }
    </tbody>
</table>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    td {
        width: auto; /* Set the width to auto to fit the content */
    }
</style>
