@{
    var colNames = new List<string>();
    var row = new List<string>();
}
<table>
    <tr>
        @foreach (var colName in colNames)
        {
            <th>@colName &nbsp;</th>
        }
     
    </tr>
    @foreach (var item in ViewBag.QueryResults)
    {
        <tr>
            @foreach (var data in row)
            {
                <td>@data</td>
            }
        </tr>
    }
</table>
