@using Microsoft.Data.SqlClient;
@using System.Data;
@{
    SqlDataReader data = Model;
    
}
<body>

    <h2>Data Table</h2>

    @if (data.Read())
    {
        <table border="1">
            <thead>
                <tr>
                    @for (var i=0; i < data.FieldCount; i++)
                    {
                        <th>@data.GetName(i);</th>
                    }
                </tr>
            </thead>
            <tbody>
                @while (data.Read())
                {
                <tr>
                    @for (var i=0; i < data.FieldCount; i++)
                    {
                        <td>@data.GetString(i)</td>
                    }
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No data available.</p>
    }

</body>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    td {
        width: auto; /* Set the width to auto to fit the content */
    }
</style>
