@using System.Collections
@using EmpathyKick.Controllers
@using static EmpathyKick.Models.MyDBContext;

@functions {
    private void addData(Organization[] arr)
    {
        for (int i = 0; i < arr.Length; i++)
        {
           // arr[i] = HomeController.organizationsList[i];
        }
    }

}
@{
    //ViewData["Title"] = "Home Page";
    // List<Organization> organizations = new List<Organization>(9);
    // foreach (var organization in Model)
    // {
    //     organizations.Add(organization);
    // }
      Organization[] arr = new Organization[9];
    // addData(arr);
}

<div class="container mt-5">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            @for (int i = 0; i < arr.Length; i += 3)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="card-deck">
                        @for (int j = 0; j < 3 && i + j < arr.Length; j++)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@arr[i + j].OrganizationName</h5>
                                    <p class="card-text">ID: @arr[i + j].OrganizationId</p>
                                    <img src="~/LogoFiles/@arr[i + j].LogoFile" class="img-fluid" alt="Organization Logo">
                                </div>
                            </div>
                        }<!--C:/Users/shlom/source/repos/empathy-kick-webapp-->
                    </div>
                </div>
            }

        </div>

        <style>
            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                background-color: black;
            }

            .carousel-control-next {
                right: 0;
                left: auto;
            }
        </style>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


